<div class="container">
  <h1>You're One Click Away!</h1>
  <% if current_user.email.split("@").last == 'instagram.com' %>
    <input type="text" name="email" value="" placeholder="Email" id='emailField'></input>
    <br>
    <div class="">
      <h4 id='emailWarning'></h4>
    </div>
  <% else %>
    <div class="" style='display:none;'>
      <h4 id='emailWarning'>current_user.email</h4>
    </div>
  <% end %>
  <br>
  <!-- <ul>
    <li>Video Compilation</li>
    <li>Video with a song (Coming Soon!)</li>
  </ul> -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="container">
        <h3>Free Video</h3>
        <ul>
          <li>Small Logo In Bottom Left Corner</li>
        </ul>
        <br>
      </div>
        <button class='btn btn-danger' id='createFreeVideoBtn'>One Click Video - Free</button>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card">
        <div class="container">
        <h3>Premium Video</h3>
        <ul>
          <li>No Logo!</li>
        </ul>
      </div>
        <button class='btn btn-primary' id='createVideoBtn'>One Click Video - $7</button>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='container loader'></div>
        <div class="c">
          <h1>Building Your Video</h1>
          <h4>This may take a few minutes, please keep this tab open. :)</h4>
        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
    $(document).ready(function() {
      $("#createVideoBtn").click(function() {
        var email = $("#emailField").val()
        if(email != '' && email.split("@").length == 2 && email.split(".").length == 2){
          var u_email = $("#emailField").val()
          console.log("Im working")
          $('#myModal').modal("show");
          $.get(window.location.origin+'/create_new_video', {version: 'paid', user_email: u_email}, function(data){
            var vid_id = data['video_id']
            setInterval(function(){
                $.get(window.location.origin+'/check_video_progress', {vid_id: vid_id}, function(data){
                  console.log(data['done_editing'])
                  if(data['done_editing'] === true){
                    window.location.href = '/videos/'+vid_id
                  }
                })
             }, 3000);
          })
        }else{
            $("#emailWarning").text('You Need To Add A Valid Email First!')
        }
      });

      $("#createFreeVideoBtn").click(function() {
        var email = $("#emailField").val()
        if(email != '' && email.split("@").length == 2 && email.split(".").length == 2){
          var u_email = $("#emailField").val()
          console.log("Im working")
          $('#myModal').modal("show");
          $.get(window.location.origin+'/create_new_video',  {version: 'free', user_email: u_email}, function(data){
            var vid_id = data['video_id']
            setInterval(function(){
                $.get(window.location.origin+'/check_video_progress', {vid_id: vid_id}, function(data){
                  console.log(data['done_editing'])
                  if(data['done_editing'] === true){
                    window.location.href = '/videos/'+vid_id
                  }
                })
             }, 3000);
          })
        }else{
            $("#emailWarning").text('You Need To Add A Valid Email First!')
        }
      });
    });

</script>
