/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // @import "bootstrap-sprockets";
 @import "bootstrap";

 $activeColor: #27ae60; //green
 $darkenColor: darken($activeColor, 20%);
 /* $background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13460/dark_wall.png'); */
 $background: #3498db;

 h1{
   font-family: 'Montserrat Alternates', sans-serif;
 }
 text{
   font-family: 'Montserrat', sans-serif;
 }

 .all-content{
   margin-top: -90px;
 }

 .main-title{
   font-family: 'Montserrat Alternates', sans-serif;
 }

 .loader {
   border: 25px solid #f3f3f3;
   border-radius: 50%;
   border-right: 25px solid rgb(112,51,130);
   border-left: 25px solid rgb(112,51,130);
   width: 120px;
   height: 120px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
 }

 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }

 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

//  .modal {
//     display: none; /* Hidden by default */
//     position: fixed; /* Stay in place */
//     z-index: 4; /* Sit on top */
//     padding-top: 100px; /* Location of the box */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: auto; /* Enable scroll if needed */
//     // background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }
//
// /* Modal Content */
// .modal-content {
//     // background-color: #fefefe;
//     margin: auto;
//     padding: 20px;
//     border: 1px solid #888;
//     width: 80%;
// }

.navbar{
  background-color: rgba(0,0,0,0);
  // position:fixed;
  // background-color: clear;
  .navbar-brand{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}


a.social-link {
	display:inline;
	background-color: rgba(0,0,0,0.8);
	color:#fff !important;
	text-decoration:none;
	padding:6px 12px;
	margin: 0;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
}
a:hover.facebook {
	background-color:#4a66b7;
}
a:hover.twitter {
	background-color:#00acee;
}
a:hover.linkedin {
	background-color:#1b86bc;
}
a:hover.gplus {
	background-color:#dd4b38;
}
a:hover.email {
	background-color:#ff9600;
}



// ===============================================================
// =====================Home Page Style===========================
// ===============================================================


.header-image {
    display: block;
    width: 100%;
    height: 777px;
    text-align: center;
    // background: url('https://i.ytimg.com/vi/sGrHwBlf-7M/maxresdefault.jpg') no-repeat center center scroll;
    background: url('bikini-photo.jpeg') no-repeat center center scroll;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    @media(max-width:1000px){
      .main-login-button{
        width: 600px;
        height: 90px;
        font-size: 55px;
      }
    }
      // @media(min-width:1000px){
      //   .main-login-button{
      //     // width: 100%;
      //     // height: 100%;
      //     // font_size: 100%;
      //   }
      // }
    .over-lay{
      background: rgba(255,255,255,0.3);
      min-height: 777px;
    }
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    // background: #fff;
    // background: rgba(255,255,255,0.3);
}

.headline h2 {
    font-size: 70px;
    margin-top: 320px;
    // background: #fff;
    // background: rgba(255,255,255,0.3);
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
    .inner-text{
      vertical-align: true;
    }
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

// Check Box

.newVidCheckBox {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  // background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 15px;
      height: 9px;
      position: absolute;
      top: 3px;
      left: 3px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      // border-radius: 30px;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
